#mainContainer {
    height: 100vh;
    background-color: #ccc;
}

#gameContainer {
    background-color: #ccc;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto 80px 60px 60px 60px;
    grid-template-areas: 
        "title"
        "instructions"
        "settings"
        "inputs"
        "buttons"
        "blackBox";
    width: 100vw;
    font-family: 'Rubik', sans-serif;
    justify-items: center;
}

#feedbackContainer {
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: auto;
    justify-items: center;
}

h1 {
    grid-area: title;
    /* background-color: red; */
}

#gameInstructions {
    grid-area: instructions;
    background-color: orange;
}

#gameSettings {
    grid-area: settings;
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    align-items: center; 
}

#inputContainer {
    grid-area: inputs;
    background-color: green;
}

#buttonContainer {
    grid-area: buttons;
    background-color: blue;
}

#secretCodeContainer {
    grid-area: blackBox;
    background-color: indigo;
}

.dotContainer {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: left;
}

.turnContainer {
    display: flex;
    grid-column-start: 1;
    justify-self: right;
    align-items: center;
    margin-right: 5px;
}

h1, h2 {
    text-align: center;
}

input[type="text"] {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    margin: 2px;
}

input:invalid {
    box-shadow: 0 0 1px 3px red;
}

input:focus:invalid {
    
}

.guessPeg, .mysteryPeg {
    margin: 2px;
}

#gameSettings > p {
    width: 10px;
}
/* A bunch of things are being styled in some way that's preventing gcs from working. Figure out tomorrow. */

#gameSettings, #inputContainer, #buttonContainer, #secretCodeContainer, .guessContainer {
    grid-column-start: 2;
}

.heading, #gameInstructions {
    grid-column-start: 2;
    grid-column-end: 3;
}

#inputContainer, #secretCodeContainer, .guessContainer, .blackContainer, .whiteContainer, .turnFeedback, #buttonContainer, #secretCodeContainer {
    display: flex;
    flex-direction: row;
}

.mysteryPeg {
    background-color: black;
    color: white;
}

.dot {
    height: 15px;
    width: 15px;
    border: black solid 1px;
    border-radius: 50%;
    margin: 1px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

#gameSettings > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 1px black solid;
}

.guessPeg, .mysteryPeg {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 26px;
    color: white;
    border: 1px #999999 solid;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.guessPeg1 {
    background-color: red;
}

.guessPeg2 {
    background-color: orange;
}

.guessPeg3 {
    background-color: yellow;
}

.guessPeg4 {
    background-color: green;
}

.guessPeg5 {
    background-color: blue;
}

.guessPeg6 {
    background-color: indigo;
}

.guessPeg7 {
    background-color: purple;
}

#gameSettings, #inputContainer, #buttonContainer, #secretCodeContainer {
    align-items: center;
}